# Import Library

In [2]:
import pandas as pd

# Import Dataset

In [3]:
dataset = pd.read_csv("GlobalWeatherRepository.csv")

# Explore Data Analsis

In [8]:
dataset.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62558 entries, 0 to 62557
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       62558 non-null  object
 1   location_name                 62558 non-null  object
 2   latitude                      62558 non-null  float64
 3   longitude                     62558 non-null  float64
 4   timezone                      62558 non-null  object
 5   last_updated_epoch            62558 non-null  int64
 6   last_updated                  62558 non-null  object
 7   temperature_celsius           62558 non-null  float64
 8   temperature_fahrenheit        62558 non-null  float64
 9   condition_text                62558 non-null  object
 10  wind_mph                      62558 non-null  float64
 11  wind_kph                      62558 non-null  float64
 12  wind_degree                   62558 non-null  int64
 13  wind_direction                62558 non-null  object
 14  pressure_mb                   62558 non-null  float64
 15  pressure_in                   62558 non-null  float64
 16  precip_mm                     62558 non-null  float64
 17  precip_in                     62558 non-null  float64
 18  humidity                      62558 non-null  int64
 19  cloud                         62558 non-null  int64
 20  feels_like_celsius            62558 non-null  float64
 21  feels_like_fahrenheit         62558 non-null  float64
 22  visibility_km                 62558 non-null  float64
 23  visibility_miles              62558 non-null  float64
 24  uv_index                      62558 non-null  float64
 25  gust_mph                      62558 non-null  float64
 26  gust_kph                      62558 non-null  float64
 27  air_quality_Carbon_Monoxide   62558 non-null  float64
 28  air_quality_Ozone             62558 non-null  float64
 29  air_quality_Nitrogen_dioxide  62558 non-null  float64
 30  air_quality_Sulphur_dioxide   62558 non-null  float64
 31  air_quality_PM2.5             62558 non-null  float64
 32  air_quality_PM10              62558 non-null  float64
 33  air_quality_us-epa-index      62558 non-null  int64
 34  air_quality_gb-defra-index    62558 non-null  int64
 35  sunrise                       62558 non-null  object
 36  sunset                        62558 non-null  object
 37  moonrise                      62558 non-null  object
 38  moonset                       62558 non-null  object
 39  moon_phase                    62558 non-null  object
 40  moon_illumination             62558 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 19.6+ MB

In [5]:
dataset.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,62558.000000,62558.000000,6.255800e+04,62558.000000,62558.000000,62558.000000,62558.000000,62558.00000,62558.000000,62558.000000,...,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000,62558.000000
mean,19.135102,22.179739,1.729789e+09,22.114984,71.808573,8.289319,13.344247,168.77317,1014.158749,29.947492,...,19.076479,528.699723,63.645083,15.219793,11.443068,25.700084,51.932406,1.736437,2.730043,48.911314
std,24.475027,65.818865,8.076019e+06,9.597657,17.275580,9.104434,14.650297,103.72881,13.330807,0.393639,...,16.521902,929.273599,35.900121,26.369751,47.915557,44.232769,159.726132,0.993934,2.603642,35.071190
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.00000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.185000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.722861e+09,16.500000,61.800000,4.000000,6.500000,80.00000,1010.000000,29.830000,...,10.800000,227.550000,39.700000,0.925000,0.740000,5.900000,9.065000,1.000000,1.000000,14.000000
50%,17.250000,23.316700,1.729848e+09,24.900000,76.900000,6.900000,11.200000,160.00000,1013.000000,29.920000,...,16.600000,329.300000,61.000000,3.515000,2.400000,13.875000,21.090000,1.000000,2.000000,48.000000
75%,40.400000,50.580000,1.736765e+09,28.400000,83.100000,11.400000,18.400000,256.00000,1018.000000,30.050000,...,25.300000,510.600000,83.000000,16.800000,9.065000,30.155000,46.250000,2.000000,3.000000,83.000000
max,64.150000,179.220000,1.743671e+09,49.200000,120.600000,1841.200000,2963.200000,360.00000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

# Data Perprocessing

In [6]:
dataset.isnull().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [7]:
dataset.dtypes

country                          object
location_name                    object
latitude                        float64
longitude                       float64
timezone                         object
last_updated_epoch                int64
last_updated                     object
temperature_celsius             float64
temperature_fahrenheit          float64
condition_text                   object
wind_mph                        float64
wind_kph                        float64
wind_degree                       int64
wind_direction                   object
pressure_mb                     float64
pressure_in                     float64
precip_mm                       float64
precip_in                       float64
humidity                          int64
cloud                             int64
feels_like_celsius              float64
feels_like_fahrenheit           float64
visibility_km                   float64
visibility_miles                float64
uv_index                        float64
gust_mph                        float64
gust_kph                        float64
air_quality_Carbon_Monoxide     float64
air_quality_Ozone               float64
air_quality_Nitrogen_dioxide    float64
air_quality_Sulphur_dioxide     float64
air_quality_PM2.5               float64
air_quality_PM10                float64
air_quality_us-epa-index          int64
air_quality_gb-defra-index        int64
sunrise                          object
sunset                           object
moonrise                         object
moonset                          object
moon_phase                       object
moon_illumination                 int64
dtype: object